<div class="card">
    <div class="card-header">
      Welcome
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Homework Week 9 by Shella Febriana</p>
        <footer class="blockquote-footer">Now i want to make my views style with bootstrap, i hope it will be okaaayyyyyy hiks </footer>
      </blockquote>
    </div>
  </div>