<div class="row">
    <div class="col-sm-10">
        <h3>Edit Movie</h3>
    </div>
    <div class="col-sm-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item"><a href="/movie">Movie</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit</li>
            </ol>
        </nav>
    </div>
</div>
<div class="card mt-3">
    <form action="/movie?_method=PUT" method="post">
        <div class="card-body pt-3">
            <input type="hidden" name="id" value="<%= data.id %>">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" name="title" id="title" value="<%= data.title %>">
            </div>
            <div class="mb-3">
                <label for="genres" class="form-label">Genres</label>
                <input type="text" class="form-control" name="genres" id="genres" value="<%= data.genres %>">
            </div>
            <div class="mb-3">
                <label for="year" class="form-label">Year</label>
                <input type="number" class="form-control" name="year" id="year" value="<%= data.year %>">
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary float-end mt-2 mb-3">Edit Data</button>
        </div>
    </form>
</div>